<!-- <header class="header">
  <div class="logo-container">
    <img src="logo.png" alt="BSES Logo" class="logo">
  </div>
  <div class="contacts">
 
      <li class="toll-number"><a href="#">19123 <span>(24x7 Toll Free Helpline)</span></a></li>
      <li class="toll-number"><a href="#">011-49516707 <span>Emergency / Streetlight No.</span></a></li>
      <li class="toll-number"><a href="#">8800919123 <span>(WhatsApp No.)</span></a></li>
      <li class="toll-number"><a href="#">`<span>(New Conection Procedure)</span></a></li>
    
  </div>
</header>


>
<div class="info-bar">
  <ul>
    <li><a routerLink="/about-us"> About Us |</a></li>
    <li><a routerLink="/regulatory">Regulatory & Compliances |</a></li>
    <li><a routerLink="/compliances">News and Media |</a></li>
    <li><a routerLink="/compliances">Tender |</a></li>
    <li><a routerLink="/compliances">Contact Us </a></li>

  </ul>
</div>


<nav class="navbar">
  <div class="content">
   
    <div class="myaccount">
      <img src="myacccont.PNG" alt="My Account">
    </div>

  
    <div class="Payments">
     
        
      <div class="dropdown">
      <button class="dropdown-button"><img src="payment.PNG" alt="Payments"></button>
      <div class="dropdown-content">
        <a href="#">Ways to Pay</a>
        <a href="#">Pay Offline</a>
        <a href="#">PNB Bill Pay</a>
        <a href="#">Prepaid Meter Recharge</a>
        <a href="#">Pay Online</a>
        <a href="#">Bharat BillPay</a>
        <a href="#">Axis Bank - BBPS Insta Collection Solutions</a>
        <a href="#">Voucher Scheme</a>
      </div>
    </div>
   
    </div>

   
    <div class="Billing">
      <img src="billing.PNG" alt="Billing">
    </div>


    <div class="management">
      <img src="management.PNG" alt="Management">
    </div>

   
    <div class="sustainability">
      <img src="sustainability.PNG" alt="Sustainability">
    </div>

 
    <div class="whatnew">
      <img src="whatnew.PNG" alt="What’s New">
    </div>
  </div>
</nav>



<div class="container">
  <div class="banner">
    <img src="banner.jpg" alt="BSES Banner" class="bannerlogo">
  </div>
  <div class="sidebar">
   
    <div class="buttons">
      <div class="button-container">
        <img src="sidebar.png" alt="sidebar">
        <span>Subsidy <br>OPT-OUT</span>
      </div>
      <div class="button-container">
        <img src="sidebar.png" alt="sidebar">
        <span>Opt for<br>E-bill</span>
      </div>
      <div class="button-container">
        <img src="sidebar.png" alt="sidebar">
        <span>CHD <br>Services</span>
      </div>
      <div class="button-container">
        <img src="sidebar.png" alt="sidebar">
        <span>WhatsApp<br>Regstration</span>
      </div>
      <div class="button-container">
        <img src="sidebar.png" alt="sidebar">
        <span>Social Media</span>
      </div>
      <div class="button-container">
        <img src="sidebar.png" alt="sidebar">
        <span>Mobile App</span>
      </div>
    </div>
    
    
  </div>
  

</div>
<div class="marquee-container">
  <marquee behavior="scroll" direction="left" scrollamount="5" class="marquee-text">
    Fire Safety Advisory for Consumers,    To know about e-LECTRIC Rewards Program,      
    Click for AC Replacement Scheme ,    Electrical Fire & Safety Tips For Public Awareness
  </marquee>
</div>


<div class="image-boxes-container">
  <div class="image-box">
    <img src="img1.jpg" alt="Image 1" class="image">
 

    
  </div>
  <div class="image-box">
    <img src="img2.jpg" alt="Image 2" class="image">

 
    
  </div>
  <div class="image-box">
    <img src="img3.jpg" alt="Image 3" class="image">

    
  </div>
</div>

<footer class="footer">
  <p>Copyright © 2023 BSES Delhi. All Rights Reserved.</p>
</footer> -->
