<div class="sidebar">
   
    <div class="buttons">
      <div class="button-container">
        <img src="sidebar.png" alt="sidebar">
        <span>Subsidy <br>OPT-OUT</span>
      </div>
      <div class="button-container">
        <img src="sidebar.png" alt="sidebar">
        <span>Opt for<br>E-bill</span>
      </div>
      <div class="button-container">
        <img src="sidebar.png" alt="sidebar">
        <span>CHD <br>Services</span>
      </div>
      <div class="button-container">
        <img src="sidebar.png" alt="sidebar">
        <span>WhatsApp<br>Regstration</span>
      </div>
      <div class="button-container">
        <img src="sidebar.png" alt="sidebar">
        <span>Social Media</span>
      </div>
      <div class="button-container">
        <img src="sidebar.png" alt="sidebar">
        <span>Mobile App</span>
      </div>
    </div>
    
    
  </div>
  

